{% extends "html/skeleton/base_layout.html" %}
{% block content %}
<h2>Submission</h2>
{% if job.status is none %}
<h3>Loading</h3>
<div class="my-2">
	<img src="{{ url_for('static', filename='loading.webp')}}"/>
</div>
{% else %}
<div class="my-2">
	<h3>Status:</h3>
	<h4>{{ job.status }}</h4>
	<div>
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#expandableContent" aria-expanded="false" aria-controls="expandableContent">
			Show logs
		</button>
		<div class="collapse mt-3" id="expandableContent">
			<div class="card card-body">
				<p class="m-0">{{ job.logs | replace("\n", "</p><p class=\"m-0\">") | safe}}</p>
			</div>
		</div>
	</div>
</div>
{% if job.status == "COMPLETED" %}
<div class="my-2">
	<h3>See results</h3>
	<form action="/results/{{ job.job_id }}" method="get">
		{{ job.form.csrf_token }}
		<input type="submit" class="btn btn-primary mt-2" value="See results">
	</form>
</div>
{% endif %}
{% endif %}
{% endblock %}
