{% from 'html/job/fields.html' import render_input %}
{% from 'html/common_elements.html' import header %}
{% extends "html/skeleton/content_layout.html" %}

{% block head %}
{{ header("Confirm", job.form.job_id.data, "COMPLETED") }}
{% endblock head %}

{% block content_page %}

{{ render_input(job.form, False) }}

<form action="/submission/{{ job.job_id }}" method="post">
	{{ job.form.csrf_token }}
	<div class="d-grid m-2 col-6 mx-auto">
		<input type="submit" class="btn btn-success btn-block" value="Submit">
	</div>
</form>
<form action="/input/{{ job.job_id }}" method="post">
	{{ job.form.csrf_token }}
	<div class="d-grid m-2 col-6 mx-auto">
		<input type="submit" class="btn btn-warning btn-block" value="Make changes to submission">
	</div>
</form>
{% endblock content_page %}
