{% from 'html/job/fields.html' import render_input %}
{% from 'html/common_elements.html' import header %}
{% extends "html/skeleton/content_layout.html" %}
{% block head %}
{{ header("Input", "Define new input", "") }}
{% endblock head %}

{% block content_page %}
<form class="m-2" method="POST" action="/input" enctype="multipart/form-data">

	{{ form.csrf_token }}

	{{ render_input(form, True) }}

	<div class="d-grid m-2 col-6 mx-auto">
		<input type="submit" class="btn btn-primary btn-block" value="Check Query">
	</div>
</form>
{% endblock content_page %}
