{% from 'html/common_elements.html' import header %}
{% from 'html/job/fields.html' import render_input %}
{% extends "html/skeleton/content_layout.html" %}
{% block head %}
{{ header("Submission", job.job_id, job.status) }}
{% endblock head %}

{% block content_page %}
<div class="row my-2">
	<h3 class="text-center">Status:</h3>
	<h4 class="text-center">{{ job.status }}</h4>
	<h5 class="text-center text-warning">The job will be deleted in {{ job.time_to_life() }} days.</h4>
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					Show logs
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p class="m-0">{{ job.logs | replace("\n", "</p><p class=\"m-0\">") | safe}}</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Show input
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
				{{ render_input(job.form, False) }}
				</div>
			</div>
		</div>
	</div>
{% if job.status == "COMPLETED" %}
<div class="row my-2">
	<form action="{{ result_path }}/{{ job.job_id }}" method="get">
		{{ job.form.csrf_token }}
		<div class="d-grid m-2 col-6 mx-auto">
			<input type="submit" class="btn btn-success mt-2" value="See results">
		</div>
	</form>
</div>
<div class="row my-2">
	<form action="{{ url_for('download_results', job_id=job.job_id) }}" method="get">
		{{ job.form.csrf_token }}
		<div class="d-grid m-2 col-6 mx-auto">
			<input type="submit" class="btn btn-success mt-2" value="Download results">
		</div>
	</form>
</div>
{% endif %}
{% if job.status in ["COMPLETED", "FAILED"] %}
<div class="row my-2">
	<form action="{{ url_for('change_input', job_id=job.job_id) }}" method="get">
		{{ job.form.csrf_token }}
		<div class="d-grid m-2 col-6 mx-auto">
			<input type="submit" class="btn btn-success mt-2" value="Resubmit">
		</div>
	</form>
</div>
<div class="row my-2">
	<form action="{{ url_for('spawn_child', job_id=job.job_id) }}" method="get">
		{{ job.form.csrf_token }}
		<div class="d-grid m-2 col-6 mx-auto">
			<input type="submit" class="btn btn-success mt-2" value="Spawn new job">
		</div>
	</form>
</div>
{% endif %}
{% endblock content_page %}
