{% from 'html/input/fields.html' import render_input_files %}
{% extends "html/skeleton/base_layout.html" %}
{% block content %}
<h2>Query Information</h2>
<div class="m-2">
	<p>{{ job.form.job_id.label }}: {{ job.form.job_id.data }}<p>
	<p>{{ job.form.email.label }}: {{ job.form.email.data }}<p>
</div>
<h2>Input</h2>
{% for group, field_names in job.form.groups.items() if group != "Query Information" %}
<div class="m-2">
	<h4>{{ group }}</h4>
	<div class="my-2">
	{% for field_name in field_names %}
		{% if field_name in job.input_data %}
		{%- if job.form[field_name].type == "HiddenField" -%}
		{{ render_input_files(job.form[field_name]) }}
		{%- else -%}
		<p>{{ job.form[field_name].label }}: {{ job.form[field_name].data }}<p>
		{% endif %}
		{% endif %}
	{% endfor %}
	</div>
</div>
{% endfor %}
<div class="row justify-content-center">
	<form action="/submission/{{ job.job_id }}" method="post">
		{{ job.form.csrf_token }}
		<div class="col text-center">
			<input type="submit" class="btn btn-primary mt-2" value="Submit">
		</div>
	</form>
</div>
<div class="row p-2 justify-content-center">
	<form action="/input/{{ job.job_id }}" method="post">
		{{ job.form.csrf_token }}
		<div class="col text-center">
			<input type="submit" class="btn btn-primary mt-2" value="Make changes to submission">
		</div>
	</form>
</div>
{% endblock %}
