{% macro render_field(field) %}
{%- if field.type == "StringField" -%}
	{{ render_label(field) }}
	{{ field() }}
	{{ render_description(field) }}
	{{ render_error(field) }}
{%- elif field.type == "MultipleFileField" -%}
	{{ render_label_bool(field) }}
	{{ field(class="form-control-file") }}
	<br>
	{{ render_description(field) }}
	{{ render_error(field) }}
{%- elif field.type == "IntegerField" -%}
<div class="col">
	{{ render_label(field) }}
	{{ field() }}
	{{ render_description(field) }}
	{{ render_error(field) }}
</div>
{%- elif field.type == "BooleanField" -%}
	{{ field() }}
	{{ render_label_bool(field) }}
	{{ render_description(field) }}
	{{ render_error(field) }}
{%- elif field.type == "HiddenField" -%}
	{{ field() }}
	{{ render_input_files(field) }}
{%- endif -%}

{% endmacro %}

{% macro render_input_files(field) %}
	{%- if field.name == "selected_pred_files" -%}
	<h5>Choosen files:</h5>
	{% for name, info in json_loads(field.data).items() %}
	<p>{{ name }} type: {{ info["type"] }} unit: {{ info["unit"] }}</p>
	{% endfor %}
	{%- elif field.name == "selected_crn_files" -%}
	<h5>Choosen files:</h5>
	{% for name, days in json_loads(field.data).items() %}
	<p>{{ name }} days: {{ ", ".join(days) }}</p>
	{% endfor %}
	{%- endif -%}
{% endmacro %}

{% macro render_error(field) %}
	{% if field.errors %}
		{% for error in field.errors %}
	<span class="text-danger">{{ error }}</span>
		{% endfor %}
	{%- endif -%}
{% endmacro %}

{% macro render_description(field) %}
	<small class="form-text text-muted">
		{{ field.description }} 
	</small>
	<br>
{% endmacro %}

{% macro render_file_list(field) %}
	<br>
	{% if field.data is not none %}
	{% for file in field.data %}
	<p>{{ file[0] }}</p>
	{% endfor %}
	{% endif %}
{% endmacro %}

{% macro render_label(field) %}
	{{ field.label }}
{% endmacro %}

{% macro render_label_bool(field) %}
	{{ field.label }}
	<br>
{% endmacro %}
