{% from 'html/input/fields.html' import render_field %}
{% extends "html/skeleton/base_layout.html" %}
{% block content %}
<h2>Input</h2>
<form method="POST" action="/input" enctype="multipart/form-data">
	{{ form.csrf_token }}

	<!-- Job ID -->
	<div class="my-2">
		<h4>Query Information</h4>
		{{ render_field(form.job_id) }}
	</div>

	<!-- Independent Variables -->
	<div class="my-2">
		<h4>Independent variables</h4>
		{{ render_field(form.indep_var_files) }}
	</div>

	<div class="row my-4 justify-content-center">
		<div class="col-5 mt-4 text-center">
			<div class="d-grid gap-2">
				<input type="submit" class="btn btn-primary btn-block" value="Check Query">
			</div>
		</div>
	</div>
</form>
{% endblock %}
